@mixin text($fontSize: 18px, $textColor: #546a7b)
    font-size: $fontSize
    font-family: 'Fredoka', sans-serif
    color: $textColor
    
    
         
%segment-heading
    @include text($fontSize: 36px)

*
    margin: 0    

body 
    background-color: #fdfdff
    
a
    text-decoration: none

nav
    display: flex
    justify-content: space-between
    align-items: center
    position: sticky
    padding: 20px
    white-space: nowrap

.cv-main
    display: flex
    justify-content: center
    padding: 0 20px
    flex: 1 1 1100px

.navigation
    display: flex
    flex-basis: 50%
    justify-content: space-between
    a
        margin: 0 10px
        @include text($fontSize: 1.2em)
            
.my-name
    margin-right: auto
    @include text(46px)

i[class^="fa-"]
    color: #62929e

.my-picture
    $blockWidth: 30%
    width: $blockWidth
    margin-right: 5%
    img
        border-radius: 10%
        width: 100%

.cv-contents
    border: 3px solid #62929e
    border-radius: 10px
    padding: 15px 25px
    width: 500px
    h2
        @extend %segment-heading
        margin-bottom: 10px
    ol
        margin-left: 20px

@mixin indented()
    padding: 10px 25px
    li
        margin-bottom: 4px
    

h2[id] + *
    @include indented()
    @include text($fontSize: 1.2em, $textColor: #62929e)
    li
        @include text($fontSize: 1em, $textColor: #62929e)
            
#about-me + p
    margin-left: 15px

#code + pre
    background-color: #c6c5b9
    border-radius: 10px
    code
        color: black

.reference
    font-style: italic
    margin-left: 20px
    @include text($fontSize: 1em, $textColor: #393d3f)
    